@import "tailwindcss";

:root {
  --color-button-primary: "#1A78E5";
  --color-text-primary: "#121417";
  --color-border-primary: "#DBE0E5";
  --color-button-secundary: "#F0F2F5";
  --color-backgroung-page: "#FFFFFF";
  --color-placheholder-input: "#637387";
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;
  --spacing-40px: 2.5rem;
  --spacing-48px: 3rem;
  --spacing-64px: 4rem;
  --spacing-80px: 5rem;
  --spacing-96px: 6rem;
  --spacing-160px: 10rem;
  --font-size-8px: 0.5rem;
  --font-size-10px: 0.625rem;
  --font-size-12px: 0.75rem;
  --font-size-14px: 0.875rem;
  --font-size-16px: 1rem;
  --font-size-18px: 1.125rem;
  --font-size-20px: 1.25rem;
  --font-size-24px: 1.5rem;
  --font-size-32px: 2rem;
  --font-size-36px: 2.25rem;
  --font-size-40px: 2.5rem;
  --font-size-48px: 3rem;
  --font-size-60px: 3.75rem;
  --font-size-64px: 4rem;
  --font-size-72px: 4.5rem;
  --font-size-80px: 5rem;
}